<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <connectionStrings configSource="connection.config"/>

  <appSettings>
    <add key="BackupPath" value="D:\SQL\Backup"/>
    <add key="DataPath" value="D:\SQL\Data"/>
  </appSettings>
</configuration>