<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MachineConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  
  <MachineConfig configSource="machine.config"/>
  <connectionStrings configSource="connection.config"/>
  
  <appSettings>
    
  </appSettings>
</configuration>