@{
    string title = "_SelectApplication";
}

@model DBUtility.WebUI.ViewModels.FadingBodyView

<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
    <button type="button" class="btn btn-default" aria-label="Left Align" id="back" disabled=@(Model.CanGoBack ? false : true)>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    </button>
</div>
<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 container body-content">

    <div class="row fading-body">
        <div class="container-fluid">
            <div class="panel panel-primary panel-transparent">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Application</h3>
                </div>
                <div class="panel-body">Panel content</div>
            </div>
        </div>
    </div>
    <hr />
</div>
<div class="col-md-2 col-sm-2 col-xs-2 col-lg-2">
    <button type="button" class="btn btn-default" aria-label="Left Align" id="next" onclick="nextForm();" disabled=@(Model.CanGoNext ? false : true)>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
</div>