@{
    ViewBag.Title = "Home Page";
}
@using DBUtility.WebUI.ViewModels
@model _PartialVM


<form>
    <div class="row main-content" id="partial">
        @*@if (Model.GetType().Equals(typeof(_SelectFile)))
        {
            Html.Partial(Model.Title, (Model as _SelectFile));
        }*@
        @Html.Partial(Model.ViewName, Model)

    </div>
</form>