@{
    ViewBag.Title = "Home Page";
}

@model DBUtility.WebUI.ViewModels.FadingBodyView

<form>
    <div class="row main-content" id="partial">

        @Html.Partial(Model.Title, Model);

    </div>
</form>