@{
    ViewBag.Title = "Home Page";
}
@using DBUtility.WebUI.ViewModels
@using DBUtility.Core
@model _PartialVM


<form>
    <div class="row main-content" id="partial">

        @Html.Partial(Model.PartialViewType.ToString(), Model)

    </div>
</form>